<div class="row">
    <div class="col-md-8 ml-auto mr-auto">
        <h3 class="title">The Castle Looks Different at Night...</h3>
        <p>This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful
            information. Remember that by this time, the user is curious, otherwise he wouldn't scroll to get here. Add a
            button if you want the user to see more. We are here to make life better.
            <br />
            <br /> And now I look and look around and there’s so many Kanyes I've been trying to figure out the bed design for
            the master bedroom at our Hidden Hills compound... and thank you for turning my personal jean jacket into a couture
            piece.</p>
        <p class="blockquote blockquote-primary">
            “And thank you for turning my personal jean jacket into a couture piece.”
            <br>
            <br>
            <small>
                Kanye West, Producer.
            </small>
        </p>
    </div>
</div>