{% if include.items.size > 0 %}
<div class="timeline">
    <ul>
        {% for item in include.items %}
        <li>
            <div>
                <time>{{item.year}}</time>
                {% if item.img %}
                <figure class="card-image">
                    <img class="img img-raised rounded" src="{{ site.baseurl }}/{{item.img}}" />
                </figure>
                {% endif %}
                {% if item.title %}
                <h3>{{item.title}}</h3>
                {% else %}
                <br>
                {% endif %}
                {% if item.description %}
                <p>{{item.description}}</p>
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
