    /* CUSTOM STYLES */

    .navbar .signature-logo {
        max-width: 70px;
    }

    .navbar.bg-white:not(.navbar-transparent) .signature-logo {
        -webkit-filter: invert(.5);
        filter: invert(.5);
    }

    .page-header:before {
        background-color: rgba(3, 12, 34, 0.3);
    }

    @media (max-width: 576px) {
        
        .avatar {
            width: 150px;
            height: auto;
        }
    }

    #latest-blogs {
        background-color: white;
    }

    .btn-inky-blue {
        background-color: #20293F;
    }

    .btn-primary.btn-simple {
        color: #20293F;
        border-color: #20293F;
    }

    .btn-primary.btn-simple:hover,
    .btn-primary.btn-simple:focus,
    .btn-primary.btn-simple:active {
        background-color: #20293F;
        color: #ffffff;
        border-color: #20293F;
        box-shadow: none;
    }

    .reading-time {
        line-height: 1.2em;
        font-size: 1em;
    }

    .category {
        color: #20293F;
        margin-top: 15px;
    }

    .category a {
        margin-left: 20px;
    }

    .separator-line.separator-primary {
        background-color: #20293F;
    }

    .pagination.pagination-primary .page-item.active>.page-link,
    .pagination.pagination-primary .page-item.active>.page-link:focus,
    .pagination.pagination-primary .page-item.active>.page-link:hover {
        background-color: #20293F;
        border-color: #20293F;
    }