--- 
layout: default 
---

<div class="page-header page-header">
    <div class="page-header-image" data-parallax="true" style="background-image: linear-gradient(
      rgba(32,41,63, 0.65), 
      rgba(3,12,34, 0.80)
    ), url('{{ site.baseurl }}/assets/img/blake-connally-373084-full.jpg');">
    </div>
    <div class="content-center">
        <div class="col-sm-2" style="margin: 0 auto;">
            <img src="{{ site.baseurl }}/{{ site.avatar }}" alt="My Avatar" class="avatar rounded-circle img-raised">
        </div>
        <h1 class="title">Hey I'm Daniel.</h1>
        <h2 class="cd-headline letters type">
            <span>I develop software in</span>
            <span class="cd-words-wrapper waiting">
                <b class="is-visible">node.js</b>
                <b>java</b>
                <b>swift</b>
                <b>C</b>
                <b>angular</b>
                <b>.NET</b>
                <b>...</b>
            </span>
        </h2>
        <div class="text-center">
            {% if site.email %}
            <a href="mailto:{{ site.email }}" class="btn btn-icon btn-link btn-neutral btn-lg">
                <i class="fa fa-envelope"></i>
            </a>
            {% endif %} {% if site.linkedin %}
            <a href="{{ site.linkedin }}" target="_blank" class="btn btn-icon btn-link btn-neutral btn-lg">
                <i class="fa fa-linkedin"></i>
            </a>
            {% endif %} {% if site.github %}
            <a href="https://github.com/{{ site.github }}" target="_blank" class="btn btn-icon btn-link btn-neutral btn-lg">
                <i class="fa fa-github"></i>
            </a>
            {% endif %}
        </div>
    </div>
</div>
<div class="section" id="latest-blogs">
    <div class="blogs-4" id="blogs-4">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h2 class="title text-center">Latest Posts</h2>
                    <br />
                    {% for post in site.posts limit:3 %}
                    <div class="separator-line separator-neutral"></div>
                    <div class="card card-plain card-blog">
                        {% if post.image %}
                        <div class="card-image">
                            <a href="{{ post.url | prepend: site.baseurl }}">
                                <img class="img img-raised rounded" src="{{ site.baseurl }}/{{ post.image }}" />
                            </a>
                        </div>
                        {% endif%}
                        <!-- FIXME: implement tags search -->
                        {% capture tag-list %}{{ post.tags | join: "|"}}{% endcapture %} 
                        {% include tags-list.html tags=tag-list %}
                        <div class="col">
                            <span class="pull-left">{{ post.date | date: "%B %-d, %Y" }}</span>
                            <span class="pull-right"><i class="now-ui-icons tech_watch-time"></i> 
                                {% assign words = post.content | number_of_words %} 
                                {% if words < 360 %} 
                                1 min 
                                {% else %} 
                                {{ words | divided_by:180 }} mins 
                                {% endif %}
                            </span>
                        </div>
                        <h3 class="card-title">
                            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                        </h3>
                        <h5 class="card-description">
                            {{ post.content | strip_html | truncate: "250" }}
                        </h5>
                        <a href="{{ post.url | prepend: site.baseurl }}" class="btn  btn-round btn-inky-blue">Read More</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>